__pycache__
.vscode
.vs

/Include/
/Lib/
/out/
/portable/
/Scripts/

build/

cimgui.dll
cimgui.lib
cimgui.exp

*.pyd
*.cpp
*.c
*_prev.pyx
*_trial.pyx


CMakeCache.txt
imgui.ini
pyvenv.cfg