__pycache__
.vscode
.vs

/Include/
/Lib/
/out/
/portable/
/Scripts/

build/

*.dll
*.lib
*.exe

core.c
core.cpp

*.pyd
*_prev.pyx
*_trial.pyx

CMakeFiles
CMakeCache.txt
CMakeSettings.json
imgui.ini
imgui_log.txt
pyvenv.cfg