__pycache__
.vscode
.vs
/venv

/out/
/portable/

/dist/
build/

*.dll
*.so*
*.lib
*.exe
my_program_c*
my_program_cpp*

core.c
core.cpp

*.pyd
*_prev.pyx
*_trial.pyx

CMakeFiles
CMakeCache.txt
CMakeSettings.json
imgui.ini
imgui_log.txt
pyvenv.cfg